.title{
    text-align: center;
}

#resumeinput{
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#leave{
  width: 30%;
  color: black;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-items: center;
  margin: auto;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#sub{
  width: 30%;
  color: black;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-items: center;
  margin: auto;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#inputheader{
  padding-left: 10%;
}

i{
  padding-left: 10%;
  cursor: pointer;
}

li{
  list-style-type:none;
}

#dropdown{
   padding-left: 10%;
}

#bigtext{
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  margin-right: auto;
  margin-left: auto;
  height: 150px;
}

.emessage{
  padding-left: 10%;
  color: #87ff2a
}

#selectedp{
  padding-left: 10%;
  color: #FF69B4
}

#leave:hover{
  background-color:#B80F0A
}

#sub:hover{
  background-color:#32CD32
}

#uploader{
  padding-left: 10%;
}