.title{
    text-align: center;
}

#resumeinput{
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#inputsubmit{
  width: 45%;
  color: black;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-items: center;
  margin: auto;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#inputheader{
  padding-left: 30px;
}

i{
  padding-left: 5%;
  cursor: pointer;
}

li{
  list-style-type:none;
}

#dropdown{
   padding-left: 5%;
}

#bigtext{
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  margin-right: auto;
  margin-left: auto;
  height: 150px;
}