.profile-name-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    text-align: center;

    button {
        margin:0;
        padding-left:2px !important;
        padding-right:2px !important;
        width:auto;
        margin-left: 2px !important;
    }
}

.sign-button {
    padding-left:2px !important;
    padding-right:2px !important;
    width: auto;
    border-radius:5px;
}

.sign-button:hover {
    padding-left:2px !important;
    padding-right:2px !important;
    width: auto;
    border-radius:5px;
}

.profile-name-section div{
    margin-right: 3vw;
}

.profile-name-email {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.profile-info-name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.editing {
    display: flex;
    flex-direction: column;
    
}

// adapted from: https://www.html-code-generator.com/css/textbox-style
.col {
	margin-top: 12px;
    display: inline-block;
    position: relative;
}
.textbox {
    width: 250px;
    padding: 2px 4px;
    font: 14px/24px "Lato", Arial, sans-serif;
    color: white;
    box-sizing: border-box;
    letter-spacing: 1px;
    border: 1px solid #ccc;
    position: relative;
    background: transparent;
}
.textbox ~ .focus-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #ededed;
    transition: 0.3s;
    z-index: -1;
}
.textbox:focus ~ .focus-bg {
    transition: 0.3s;
    width: 100%;
}
.textbox:focus {
    outline: none;
}

.editing button {
    width: auto;
}

// button style adapted from 

.save-button{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color: #000000;
    text-align:center;
    transition: all 0.2s;
}
.save-button:hover{
    color:#000000;
    background-color:#FFFFFF;
    font-weight: 500;
}
@media all and (max-width:30em){
     a.button1{
     display:block;
     margin:0.4em auto;
}
}