body, html {
    font-family: 'Raleway', sans-serif;
    height: 100%;
    color: white;
    background-color: black;
}

.navbar{
    display: flex;
    flex-direction: row;
    background-color: black;
    color:white;
    justify-content: space-between;
    font-weight: bold;
    font-size: 200%;
    a {
        text-decoration: none;
        color: white;
    }
    .resumov {
        font-style: italic;
    }
}

.lefttabs {
    display: flex;
    flex-direction: row;
    font-size: 80%;
    a {
        margin-left: 20px;
        margin-right: 20px;
        
    }
}

.signinup
{
    position: relative;
}

.lefttabs a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  visibility: hidden;
  transition: all 0.3s ease-in-out;

  h1 {
      margin-bottom: 1px;
  }
}

.lefttabs a:hover:before {
  visibility: visible;
  width: 100%;
}

