body, html {
    font-family: 'Raleway', sans-serif;
    height: 100%;
}

.black-font {
    color: black;
}

.custom_section {
    background-color: #424242;
    border-radius: 5vh;
    padding: 2vh;
    margin: 2vh;
}